.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 15vmin;
  pointer-events: none;
}

.App ul {
  background-color: #775e75;
  width: 70%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  list-style-type: none;
}

.App ul a {
  color: #61dafb;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

.App ul a:hover {
  color: #af122d;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(0.5);
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #775e75;
}