header ul {
  background-color: #775e75;
  width: 70%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  list-style-type: none;
}

header ul a, header ul span {
  font-size: 1.2em;
  color: #39b54a;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

header ul a:hover {
  color: #3a8a87;
  outline: none;
}

header ul li span:hover {
  cursor: pointer;
  color: #3a8a87;
  outline: none;
}