.scratch-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-scratch-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(47, 79, 79);
}

.scratch-card-heading {
  width: 100%;
  margin-top: 0px;
  padding: 5px 0;
  background-color: rgb(47, 79, 79);
  font-weight: 400;
  color: #ffffff;
}

.form-control-scratch {
  width: 95%;
  height: 25px;
  margin: 8px 10px;
}

.form-scratch-card p {
  margin: 10px;
}

.scratch-card h2 {
  margin: 20px;
}